html body.background_gradient {
    
    background: 
    linear-gradient(
        to bottom,
        #EDDEC2 0%,               /* couleur pleine en haut */
        rgb(237, 222, 194) 30%,  /* presque opaque */
        rgba(237, 222, 194, 0.8) 50%,  /* semi-transparent */
        rgba(237, 222, 194, 0.5) 85%,  /* encore plus transparent */
        rgba(237, 222, 194, 0) 100%    /* totalement transparent en bas */
    ),
    url("/img/4941521.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optionnel : effet "parallaxe" */

}

h1 {
    color: coral;
}
nav.bg_EDDEC2 {
    background-color: #EDDEC2;
}

li.nav-item {
    list-style: none;
}

/*footer */
footer {
    flex-shrink: 0;
    border-top: 2px solid #95b78b;
    color: white;
    width: 100%;
    background-color: #EDDEC2;
}

@media (min-width: 768px) {
    .img-responsive-height {
      height: 170px !important;
    }}

.bloc{
    width: 25%;
    margin: 0 30px;
}


.liste-plan, .liste-media, .liste-contact {
    list-style-type: none;
}
.liste-plan li, .liste-media li, .liste-contact li {
    padding: 2px 0;
}

.liste-plan a, .liste-media a, .liste-contact a {
    text-decoration: none;
    color : rgb(211, 58, 127);
}
.liste-plan a:hover, .liste-media a:hover, .liste-contact a:hover{
    color:beige;
}

.liste-media img {
    width: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #95b78b;
    padding-top: 1rem;
    font-size: 0.9rem;
    color: #fffcfc;
}
