{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<h1>{{produit.nom}}</h1>

<div class="container">
    <div class="row">
        {% for produit in sousCategorie.produits %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <a href="/produit/{{sousCategorie.id}}">{{produit.nom}}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
