{% extends 'base.html.twig' %}

{% block title %}Hello {{ produit.nom}}!{% endblock %}

{% block body %}
<h1>{{ produit.nom }}</h1>

<div class="container">
    <div class="row">
       <p>details: {{ produit.description }}</p>
       <p>en stock:{{ produit.stock }}</p>
        <p>prix:</p> 
            
            </div>
        
    </div>
</div>

{% endblock %}
