{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
<h1>Hello Village Green !</h1>

<div class="container">
    <div class="row">
        {% for categorie in categories %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <img src={{categorie.image}}
                <a href="/categorie/{{categorie.id}}">{{categorie.nom}}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
